body {
    background-color: rgb(211, 211, 211);
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding: 0;
    list-style-type: none;
}


.social-links ul, li{
    list-style-type: none;
    display: inline-block;
}

.social-links .fab{
    color: black;
    font-size: 35px;
}