asgiref==3.3.1
asn1crypto==0.24.0
boto3==1.16.46
botocore==1.19.46
certifi==2019.6.16
cffi==1.12.2
chardet==3.0.4
click==7.1.2
conda==4.7.9
conda-package-handling==1.3.11
cryptography==2.6.1
Django==3.1.4
django-filter==2.4.0
django-storages==1.11.1
Flask==1.1.2
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
libarchive-c==2.8
MarkupSafe==1.1.1
Pillow==8.0.1
psycopg2-binary==2.8.6
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.6.8
python-dateutil==2.8.1
pytz==2020.4
requests==2.21.0
ruamel-yaml==0.15.46
s3transfer==0.3.3
six==1.12.0
sqlparse==0.4.1
tqdm==4.32.1
urllib3==1.26.2
Werkzeug==1.0.1
whitenoise==5.2.0
