{% extends 'accounts/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md-5">
        <h5>CUSTOMERS:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Create Customer
            </a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Customer</th>
                    <th>Orders</th>
                </tr>
            </table>
        </div>
    </div>

    
</div>



{% endblock %}
